.back-to-top {
  width: 7vmax;
  height: 7vmax;
  max-width: 70px;
  max-height: 70px;
  margin: 4vmin;  
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 35;  
}

.svg-container-btt {  
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-text-color);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 0 5px 0 black;
}

.svg-container-btt svg {
  fill: currentColor;
  height: clamp(40px, 55px, 70px); 
  transform: rotate(180deg);
}

.turn-button-dark {
  animation: turn-button-dark var(--transition-time) linear forwards;
}

.turn-button-light {
  animation: turn-button-light var(--transition-time) linear forwards;
}

@keyframes turn-button-dark {
  0% {
    background-color: white;
    box-shadow: 0 0 5px 0 black;
    color: var(--light-text-color);
  } 
  100% {
    background-color: black;
    box-shadow: 0 0 5px 0 white;
    color: var(--dark-text-color);
  }
}

@keyframes turn-button-light {
  100% {
    background-color: white;
    box-shadow: 0 0 5px 0 black;
    color: var(--light-text-color);
  } 
  0% {
    background-color: black;
    box-shadow: 0 0 5px 0 white;
    color: var(--dark-text-color);
  }
}